body {
  background-color: whitesmoke;
}
header {
  box-shadow: -1px 17px 9px -12px rgba(0,0,0,0.75);
}
.aboutTitle {
  margin-top: 3%;
  width: 100%;
  text-align: center;
}
#content{
  display: flex;
  width: 100%;
  padding: 0.5%;
}

#floating-form {
  width: 25%;
  position: absolute;
  z-index: 5;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.080);
  margin-top: 10%;
  border-radius: 4px;
  
}

#about {
  margin-top: 1%;
  height: 9rem;
}
#sub-title {
  margin-bottom: 0%;
}

#team {
  margin-top: 3%;
}

.team {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.030);
  opacity: 1;
  height: 20rem;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}

.team-member img {
  width: 10rem;
  height: 10rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  margin-top: 15%;
}

.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #34495E;
}

/* Map */

#map{
  width: 100%;
  height: 46rem;
  border-radius: 4px;
}